body {
  background-color: #d1e77f;
  text-align: center;
  margin: 0px;
  font-family: 'Karla';
}

.projects{
  background-color: coral;
  padding: 0px;
}

.about{
  background-color: coral;
  padding: 10px;
}
